

<div class="d-flex justify-content-between">
    <h2>
      <!-- <i class="fa fa-users"></i> -->
      Clients
    </h2>

    <h5 class="text-secondary align-middle pt-2">
      Total Owed: {{ totalOwed | currency: "USD":"symbol" }}
    </h5>

</div>

<div class="form-inline d-flex justify-content-start mb-2">
  <label for="minBalance">With balance of at least: $ &nbsp;</label>
  <input type="text" name="minBalance" class="form-control w-25" [(ngModel)]="minBalance" />
</div>

<!-- ng template -->
<table *ngIf="clients?.length > 0; else noClients" class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th class="d-none d-md-table-cell">Email</th>
      <th>Balance</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients | hasBalance: minBalance">
      <td>{{ client.firstName }} {{ client.lastName }}</td>
      <td class="d-none d-md-table-cell">{{ client.email }}</td>
      <td>{{ client.balance | currency: "USD":"symbol" }}</td>
      <td>
        <a routerLink="client/{{ client.id }}" class="btn btn-secondar btn-sm">
          <i class="fa fa-arrow-circle-o-right"></i>
          Details
        </a>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #noClients>
  <hr />
  <h5>There are no clients in the system</h5>
</ng-template>
