<!-- updatebal on add, edit, 
show register -->

<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"> Back to Dashboard</i>
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form #settingsForm="ngForm" (submit)="onSubmit(settingsForm)">
      <div class="form-group">
        <input
          type="checkbox"
          name="allowRegistration"
          [checked]="settings.allowRegistration"
          (change)="settings.allowRegistration = !settings.allowRegistration"
        />&nbsp;
        <label>Allow Registration</label>
      </div>

      <div class="form-group">
        <input
          type="checkbox"
          name="disableBalanceOnAdd"
          [checked]="settings.disableBalanceOnAdd"
          (change)="
            settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd
          "
        />&nbsp;
        <label>Disable Balance on Add</label>
      </div>

      <div class="form-group">
        <input
          type="checkbox"
          name="disableBalanceOnEdit"
          [checked]="settings.disableBalanceOnEdit"
          (change)="
            settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit
          "
        />&nbsp;
        <label>Disable Balance on Edit</label>
      </div>

      <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </form>
  </div>
</div>

<div class="card mt-5">
  <div class="card-header">
    Title Case Formatter
  </div>
  <div class="card-body">
    <div class="form-group">
      <input type="text" class="form-control" (input)="onInputChange($event)"/>
    </div>
    <div class="form-group">
      <p>{{ formattedString }}</p>
    </div>
  </div>
</div>
